<?xml version="1.0"?>
<configuration>
<appSettings>
	<add key="accessCode" value="put-your-code-here"/>
	<!-- Keys are partial service names, values are partial function names. -->
	<add key="BorderCrossings" value="BorderCrossings" />
	<add key="CVRestrictions" value="CommercialVehicleRestrictions" />
	<add key="HighwayAlerts" value="Alerts" />
	<add key="HighwayCameras" value="Cameras" />
	<add key="MountainPassConditions" value="MountainPassConditions" />
	<add key="TrafficFlow" value="TrafficFlows" />
	<add key="TravelTimes" value="TravelTimes" />
</appSettings>
		<system.web>
			<compilation debug="true" targetFramework="4.5" />
			<httpRuntime targetFramework="4.5" />
		</system.web>

</configuration>
